<%#= Overall page %>
<div class="background">

	<%#= Logo section %>
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div> <%#= end of "large-12 columns"%>
	</div> <%#= end of "row"%>

	<%#= ********************************************** Section includes registration instructions, email & password fields, show password button, sign in  button
	********************************************** %>
	<div class="row">
		<div class= 'large-12 columns'>
			<div class='large-4 columns'>

				<form action='/login' method="POST">
					<div class="controls">
						<div class="row">
							<div class="large-12 columns hide-text" id="signUpInfo">
							To sign up, please enter your email and a new user email will be sent to you.
							</div>
						</div>
					</div>
					<%#= Email field %>
					<label class= 'control-label' for='inputEmail'>Email</label>
					<div class= 'controls'>
						<input type='text' id='inputEmail' placeholder='Email' name='email'>
					</div> <%#= end of "controls" %>

					<%#= Password field %>
					<label class='control-label' for='inputPassword' id="passwordLabel"> Password </label>
					<div class= 'controls'>
						<input type= 'password' id='inputPassword' placeholder='Password' name='password'>

						<div class= 'row'>
							<%#= Show Password button %>
							<div class= 'large-8 columns' id="showPassword">
								<button id="toggle-password-field" class="small button alert" >Show Password</button>
							</div> <%#= end of "large-8 columns" %>

							<%#= Sign In button %>
							<div class= 'large-4 columns'>
								<div class= 'controls'>
									<button type= 'submit' class= 'small button regular'> Sign in </button>
								</div> <%#= end of "controls" %>
							</div> <%#= end of "large-4 columns" %>
						</div> <%#= end of "rows" %>
					</div> <%#= end of "controls" %>
					<%#= reg instructions %>
					<div class='controls'>
						<div class="row">
							<div class="large-12 columns">
								<div id='signIn'>
									<button class="small button regular" id="newUser">Click Here To Sign Up</button>
								</div> <%#= end of "signIn" %>
							</div>
						</div>
					</div>
						
				</form> <%#= end of "action='/login' method='POST' "%>
			</div><%#= end of "large-4 columns" %>

			<%#= *********** 
			Welcome message
			**************** %>
			<div class='large-8 columns'>
				<div class= 'row'>
					<h2 id='greeting' class="large-12 columns">Party On!</h2>
				</div> <%#= end of "row" %>
				<div class="row">
					<div class='bla' class="large-12 columns">Welcome to ParDIY!  We're psyched to see the awesome parties that each of you create and throw!  Have a great time!
					</div> <%#= end of "bla large-12 columns"%>
				</div> <%#= end of "row"%>
				<div class="large-8 columns large-offset-2">
					<br>
					Love always,<br>
					Theresa and Emilia
				</div> <%#= end of "large-8 columns large-offset-2"%>
			</div> <%#= end of "large-8 columns"%>
		</div> <%#= end of "large-12 columns"%>
	</div> <%#= end of "row"%>
</div> <%#= end of "background"%>

