<div class="background">
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div>
	</div> 
	<div class="row">
		<div class= 'large-12 columns'>
			<div class='large-4 columns'>
				<div id= 'signIn'>
					To sign up: <br>
					1) Enter in email <br>
					2) Leave password blank <br>
					3) Click 'Sign in'
				</div>
				<form action='/login' method="POST">
					<div>
						<label class= 'control-label' for='inputEmail'>Email</label>
						<div class= 'controls'>
							<input type='text' id='inputEmail' placeholder='Email' name='email'>
						</div>
					</div>
					<label class= 'control-label' for= 'inputPassword'> Password </label>
					<div class= 'controls'>
						<input type= 'password' id='inputPassword' placeholder='Password' name='password'/>
							<div class= 'row'>
								<div class= 'large-8 columns'>
									<button id="toggle-password-field" class="small button alert">Show Password</button>
								</div>
								<div class= 'large-4 columns'>
									<div class= 'controls'>
										<button type= 'submit' class= 'small button regular'> Sign in </button>
									</div>
								</div>
							</div>
						</div>
				</form>
			</div>
			<div class='large-8 columns'>
				<h2 id='greeting' class="large-12 columns">Party On!</h2>
				<div class='bla' class="large-12 columns">Welcome to ParDIY!  We're psyched to see the awesome parties that each of you create and throw!  Have a great time!
				</div>
				<div class="large-8 columns large-offset-2">
					Love Always,<br>
					Theresa and Emilia
				</div>
			</div>
		</div>
	</div>
</div>

