<div class="background">
	<%#= Page Logo%>
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div>
	</div>
	<div class="row">
		<%= render partial: "form" %>
	</div>
</div>	