<div class="background">
Show
	<%#= Page Logo%>
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div>
	</div>
	<div class="row title">
	<!-- 	<%= @user.name %>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<% @user.city %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= @user.bio %>
		</div> -->
	</div>
	<div>

	</div>
</div>