<div class="background">
	<div class="row">
    <div class="large-12 columns">
      <h1 class='pagehead logo'>ParDIY</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns large-offset-3 pagetitle">
      <span>New Event</span>
    </div>
  </div>
	<form>
    <div class="row">
      <div class="large-12 columns">
        <label>Event Name</label>
        <input type="text" placeholder="Theresa's Wedding Shower">
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>Event Location</label>
        <select id="customDropdown" class="large">
        	<option>Home</option>
        	<option>Venue</option>
        </select>
      </div>
      <div class="large-4 columns">
        <label>Event Type</label>
        <select id="customDropdown" class="large">
        	<option>Wedding</option>
        	<option>Child's Birthday</option>
        	<option>Wedding Shower</option>
        	<option>Baby Shower</option>
        	<option>Holiday</option>
        	<option>Bachelor/Bachlorette</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label class="details">Needed Supplies</label>
		    <label>Amount</label>
		    <div class="supplyblock">
		    	<input placeholder="12 packages"></input>
		      <input placeholder="mailing labels"></input>
		    	<hr>
		    </div>
		    <span class="help-block">
					<a href="#" class="supplyblockadd link">+ Add Supply</a>
				</span>
      </div>
      <div class="large-4 columns project">
        <label>Project To Do</label>
        <div class="projectblock">
        	<input placeholder="Make Invitations"></input>
        </div>
        <span class="help-block">
					<a href="#" class="projectblockadd link">+ Add Project</a>
				</span>
      </div>
    </div>
	  <button type="submit" class="tiny button">Save &amp; Continue</button>
	</form>
</div>