<p>
	To create your ParDIY credentials, please follow the link
	below:
</p>
<p>
	<%= link_to registration_url(@user.code), registration_url(@user.code) %>
</p>
<p>
	This link will expire at <%= @user.expires_at %>.
</p>
<p>
	If you received this message in error, simply do nothing.
</p>
<p>
	Yours lovingly,
	Theresa and Emilia
</p>
