<%#= Over all page %>
<div class="background">
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div>
	</div>

  <%#= Top Nav Bar%>
	<div class= "row">
		<nav class="top-bar">
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left" id="tagline">
          <!--some tag line here--feel free to change-->
          Social planning for social living
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="toplevel"><a href="#">Profile</a></li>
          <li class="divider"></li>
          <!--activate this section when have events elements implemented
          <li class= "has-dropdown toplevel"><a href="#">Events</a>
            
             <ul class="dropdown">
              <li class="has-dropdown"><a href="#">Children's Parties</a>
                <ul class="dropdown">
                  <li><a href="#">Birthdays</a></li>
                  <li><a href="#">Graduation/Promotions</a></li>
                  <li><a href="#">Holidays</a></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#">Adult Parties</a>
                <ul class="dropdown">
                  <li><a href="#">Birthdays</a></li>
                  <li><a href="#">Graduation/Promotions</a></li>
                  <li><a href="#">Holidays</a></li>
                  <li><a href="#">Bachelor</a></li>
                  <li><a href="#">Bachelorette</a></li>
                  <li><a href="#">Housewarming</a></li>
                  <li><a href="#">Outdoors/BBQ</a></li>
                  <li><a href="#">Retirement</a></li>
                </ul>
              </li>
            </ul> -->
          </li>
          <li class="divider hide-for-small"></li>
          <li class="has-form">
            <form>
              <div class="row collapse">
                <div class="small-8 columns">
                  <input type="text">
                </div>
                <div class="small-4 columns">
                  <a href="#" class="regular button">Search</a>
                </div>
              </div>
            </form>
          </li>
          <li class="divider show-for-small"></li>
          <li class="has-form">
            <a class="button" href="/logout">Log Out</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div> 


