.pagetitle{
	text-align: center;
	font-family: 'Caudex', cursive;
	color: #002649;
	font-size: 45px;
}
label{
	font-family: 'Caudex', cursive;
	font-size: 16px;
}
.project{
	margin-top: 35px;
}
.link{
	font-family: 'Caudex', cursive;
}
.details{
	margin-top: 10px;
}
.table{
	font-family: 'Caudex', cursive;
	font-size: 20px;
	border-color: #002649;
	margin: 10px;
}
.title{
	color: #002649;
	font-family: 'Unkempt', cursive;
	font-size: 45px;
	text-align: center;
}
.info1{
	color: #002649;
	font-family: 'Caudex', cursive;
	font-size: 25px;
	margin: 15px;
	text-align: center;
}
.info{
	color: #002649;
	font-family: 'Caudex', cursive;
	font-size: 25px;
	margin: 15px;
	padding: 10px;
}
