.pagetitle{
	text-align: center;
	font-family: 'Caudex', cursive;
	color: #002649;
	font-size: 45px;
}
label{
	font-family: 'Caudex', cursive;
	font-size: 16px;
}
.project{
	margin-top: 35px;
}
.link{
	font-family: 'Caudex', cursive;
}
.details{
	margin-top: 10px;
}
