.background{
	border: 3px solid #c10538;
	background-color: #f9fcff;
	margin: 50px;
	padding: 10px;
}
.pagehead{
	border: 2px solid #5bbf21;
	margin: 10px;
	padding: 5px;
	text-align: center;
}
.logo{
	color: #4cced1;
	font-family: 'Unkempt', cursive;
	font-size: 67px
}
.userinfo{
	color: #002649;
	font-family: 'Alex Brush', cursive;
	text-align: center;
	font-size: 40px;
}
#signUpInfo{
	font-family: 'Caudex', cursive;
}
#resetInfo{
	font-family: 'Caudex', cursive;
	margin-bottom: 10px;
}
#signIn{
	padding-bottom: 10px;
}
.control-label{
	font-family: 'Caudex', cursive;
}
#greeting{
	color: #002649;
	font-family: 'Unkempt', cursive;
	font-size: 45px;
	text-align: center;
}
.bla{
	color: #002649;
	font-family: 'Caudex', cursive;
	font-size: 30px;
}
#closing{
	color: #002649;
	font-family: 'Caudex', cursive;
	font-size: 30px;
}
#names{
	font-family: 'Alex Brush', cursive;
	font-size: 45px;
	margin: 15px;
}
.hide-text {
  display: none;
  margin: 10px;
}

#tagline {
	font-family: cursive;
}